#changeDisplayNameCard{
    display: inline-block;
    width:200px;
    padding: 60px 30px;
    margin: 30px;
    text-align: center;
}
.cardHeading{
    font-size: 20px;
}

.imageContainer{
    height:200px;
    width: 200px;
    overflow: hidden;
}
.imageContainer img {
    width:200px;
}